prueba.py
*/*/__pycache__/
*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
.env
/postgres/pgdata/
/egresadosenv/
/docker/*/
/datos/postgresql/__pycache__/
/connectors/postgresql/__pycache__/
!/docker/metabase.db/
/node_modules/
package-lock.json